#Ignore everything
*

# Except for these files
!README.md
!.gitignore
# Except the discussion folder
# !Discussions/
# !Discussions/*.html
# !index.html
!docs/
!docs/*
!docs/index.html
!docs/*.html

/.quarto/
